/* SELECTOR é o elemento que selecionamos para estilizar como o h1, body,
PROPRIEDADES é o color / VALOR é a cor definida no caso red */

/* BODY causa efeito em tudo está  dentro; fonts / 
COR mudará se estiver declarado class ou id */
body {
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* negrito
    font-weight: bolder; */
    padding: 20px;
}

/* no HTML refere-se a div class container */
.container {
    /* background-color: #333;
    color: #eee;
    width: 960px;
    margin: auto;
    padding: 20px;
    border: 3px solid red; */

    background-color: #333;
    color: #eee;
    /* com todos px abaixo, não fica mais responsivo... width */
    width: 80%;
    /* ficará responsivo com box-sizing */
    box-sizing: border-box;
    
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    /* mesma coisa que acima */
    margin: 50px /*auto*/;

    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px; 
    /* mesma coisa que acima */
    padding: 60px;
    

    border-top: 15px solid red;
    border-left: 15px solid red;
    border-right: 15px solid red;
    border-bottom: 15px solid red;
    /* mesma coisa que acima */
    border: 15px solid rgb(0,0,255); 
    /* declarando dotted o efeito será pontilhado na borda */
}

/* referente ao h1s por estarem dentro body/sem ou declaração especificando */
h1 {
    color: red;
}

/* No CSS o atributo Id USAMOS # / o atributo Class USAMOS . */

.segundo-h1 {
    color: blue;
}

.terceiro-h1 {
    color:blueviolet;
}   

#quarto-h1 {
    color: green;
}  


h2 {
    color:black; 
} 

/* Links para redes sociais */
.main-aside h2 {
    text-align: center;
}
/* Efeito ao passar o mouse  */
.main-aside h2:hover {
    color: green;
    /* cursor: pointer; */
}

.main-aside ul {
    /* Tira os pontos do link (square quadrado), centraliza as redes sociais e alinha  */
    list-style: none; 
    text-align: center;
    padding: 0;
}  
    /* Tira o grifado das redes sociais e muda a cor da letra */
.main-aside ul a {
    text-decoration: none;
    color: black;
}
/* Efeito ao passar o mouse */
.main-aside ul a:hover {
    color: red;
} 
/* Estiliza o link que foram visitados */
.main-aside ul a:visited {
    color: green; 
} 
