/* SELECTOR é o elemento que selecionamos para estilizar como o h1, body,
PROPRIEDADES é o color / VALOR é a cor definida no caso red */


h1 {
    color: red;
}

/* No CSS o atributo Id USAMOS # / o atributo Class USAMOS . */

.segundo-h1 {
    color: blue;
}

.terceiro-h1 {
    color:blueviolet;
}   

#quarto-h1 {
    color: green;
}  


h2 {
    color:black;
}

/* A cor no CSS pode ter os atributos body: background e color,
h1: color #00000, p: color: rgb(0,0,255), a: color rgba(0,0,255,0.6) */
